.sidebar {
  width: 250px;
  background-color: #FFC1C1;
  border-right: 1px solid hsl(15, 35%, 35%);
  padding: 20px;
  color: white;
  min-height: 100%;
  border-radius: 0 0 20px 20px;
}

.room-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.room-list li {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #ABCF82;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}