@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Changa+One:ital@0;1&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

body.dark .topbar{
  background-color: #231c2d;
}

.topbar{
    /* position: fixed; */
    border-radius: 20px 20px 20px 0;
    z-index: 1;
    background-color: #68C7C1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    align-items: center;
}
.first{
  border-radius: 20px 20px 20px 0;
  background-color: #68C7C1;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
#topbutton{
  height: 40px;
  padding: 2px;
  border: 2px solid #794A3A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Atma", sans-serif;
  /* display: flex; */
}
.logo2 {
    font-family: "Atma", sans-serif;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 3vh;
    color: #DD5341;
}
.topbar-center{
    display: flex;
}
.topbar-right {
    display: flex;
    border-radius: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: #77A68A;
    background-color: #68C7C1;
    margin-right: 10px;
}
.user {
    font-family: "Atma", sans-serif;
    margin:auto;
    font-size: 1rem;
    color: brown;
    background-color: #68C7C1;
}
.logout{
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 600px) {
  #status {
    font-size: smaller;
  }
  #name {
    font-size: 1.2rem;
  }
}