.statsContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #B6ACE4;
    color: white;
}

.statsName {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #ABCF82;
}

.searchBox {
    margin-bottom: 20px;
}

.searchplayer {
    width: 90%;
    padding: 12px;
    background-color: #fff8eb;
    border: 1px solid #0c0a05;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    font-family:monospace, sans-serif;
}

.table {
    background-color: #FFC1C1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #3a3a3c;
}

.statsTable {
    width: 100%;
    border-collapse: collapse;
}

.statsTable th {
    background-color: #f7aaaa;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.statsTable td {
    padding: 15px;
    border-bottom: 1px solid #3a3a3c;
}

.statsTable tr:hover {
    background-color: #2c2c2e;
}

.currentUser {
    background-color: #ca9797;
    color: white;
    font-weight: bold;
}

.loader {
    text-align: center;
    padding: 20px;
    color: #818384;
}