/* Layout.css */
/* .main-wrapper { */
  /* display: flex; Sidebar i Main obok siebie */
  /* margin-top: 60px;
  height: calc(100vh - 60px);
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
} */

/* Sidebar.css */
/* .sidebar {
  width: 250px;
  background-color: #1e1e1e;
  border-right: 1px solid #3a3a3c;
  padding: 20px;
  color: white;
}

.room-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.room-list li {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #2c2c2e;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.room-list li:hover {
  background-color: #3a3a3c;
}

.room-list li.active {
  border-left: 4px solid #6aaa64;
  background-color: #3a3a3c;
} */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card1 {
    width: 20%;
}
.card2 {
    width: 60%;
}

body {
    background: #F7DCAD;
    color: #794A3A;
    font-family: "Atma", sans-serif;
}

body.dark {
    background: #1a1423;
    color: #eaeaea;
}
@media (max-width: 900px) {
    .main {
        flex-direction: column; /* Sidebar wskakuje nad czat na mobile */
    }
}