h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.sidebar {
    width: 10vh;
    min-width: 10vh;
    background-color: #F57F5B;
    border-right: 1px solid #794A3A;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
  flex: 1;
  display: flex;
  background-color: #F7DCAD;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
}

.mainroutes {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}
.card1 {
    width: 20%;
}
.card2 {
    width: 60%;
}

body {
  margin: 0;
  display: block;
  padding: 0;
  background: #F7DCAD;
  color: #794A3A;
  font-family: "Atma", sans-serif;
  overflow: hidden;
}

body.dark {
    background: #1a1423;
    color: #eaeaea;
}
@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}