/* Kontener statystyk */
.stats-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #7ccdc8;
    color: white;
}

.statsname {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Wyszukiwarka */
.search-box {
    margin-bottom: 20px;
}

.searchplayer {
    width: 90%;
    padding: 12px;
    background-color: #fff8eb;
    border: 1px solid #0c0a05;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
}

.stats-input:focus {
    outline: none;
    border-color: #e2ce6a;
}

/* Tabela */
.table-wrapper {
    background-color: #FACA78;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #3a3a3c;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table th {
    background-color: #b99556;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.stats-table td {
    padding: 15px;
    border-bottom: 1px solid #3a3a3c;
}

.stats-table tr:hover {
    background-color: #2c2c2e;
}

/* Wyróżnienie aktualnego użytkownika */
.current-user-row {
    background-color: rgba(83, 141, 78, 0.2) !important;
    color: #a58b5c;
    font-weight: bold;
}

.loader {
    text-align: center;
    padding: 20px;
    color: #818384;
}