@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Changa+One:ital@0;1&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

body.dark .topbar{
  background-color: #231c2d;
}

.topbar{
    /* position: fixed; */
    z-index: 1;
    background-color: #68C7C1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.logo {
    font-family: "Atma", sans-serif;
    font-size: 4vh;
    font-weight: bold;
}
.topbar-center{
    display: flex;
}
.topbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    color: #77A68A;
    background-color: #68C7C1;
    margin-right: 10px;
}
.user {
    display: inline-block;
    font-size: 2vh;
    color: brown;
    background-color: #68C7C1;
}
.logout{
    display: inline-block;
    margin-left: 5px;
}

@media (max-width: 600px) {
  #status {
    font-size: smaller;
  }
  #name {
    font-size: 1.2rem;
  }
}